* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.borderless {
  border: none;
}

.big-text {
  font-size: 36px;
  color: #4e5150;
}

.form-fa {
  margin-right: 8px;
  color: #828282;
}

.container {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.checkout-wrap {
  display: flex;
  flex-direction: row;
}

.input-wrap {
  border: 1px solid #828282;
  padding: 8px;
  border-radius: 8px;
}

.form-legend {
  font-size: 18px;
}

.form-label {
  font-size: 12px;
}

@media (max-width: 768px) {
  .checkout-wrap {
    flex-direction: column-reverse;
  }

  .big-text {
    font-size: 24px;
  }

  .form-legend {
    font-size: 14px;
  }

  .form-label {
    font-size: 10px;
  }
}
